body{
    padding: 0;
    margin: 0;
}

header{
  
}

#presentation{
 background-color: blue;
}

.profile{
  background-color: red;
}

main > section{
   
}

#name, #email, #message{
   
}

.profile-buttons{

}

.profile-buttons a:last-child{
    background-color: blue;
}